<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand ml-lg-5 btn" href="">
    <i class="fas fa-leaf fa-flip-horizontal"></i> Spring Kitchen
  </a>

  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="authService.isLoggedIn()" routerLink="/reservation" routerLinkActive="active">
          <i class="far fa-calendar-alt"></i> Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="authService.isLoggedIn()" routerLink="/billing" routerLinkActive="active">
          <i class="fas fa-receipt"></i> Billing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="authService.isLoggedIn()" routerLink="/floorplan" routerLinkActive="active">
          <i class="fas fa-home"></i> Floorplan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="authService.isLoggedIn() && authService.isAdmin()" routerLink="/users" routerLinkActive="active">
          <i class="fas fa-id-card"></i> Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="authService.isLoggedIn()" routerLink="/message" routerLinkActive="active">
          <i class="fas fa-bullhorn"></i> Announcements</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link btn" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">
        <i class="fas fa-sign-in-alt"></i> Login</a>
      <a class="nav-link btn" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">
        <i class="fas fa-sign-out-alt"></i> Logout</a>
    </ul>
  </div>
</nav>
