<div class="modal-header">
  <h5 class="modal-title">Reset {{user.firstName}} {{user.lastName}}'s password</h5>
  <button type="button" class="close btn" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-dark text-white">
  <form (keyup.enter)="onSubmit()" class="form" [formGroup]="resetForm">
    <div class="form-group">
      <label for="newPassword"></label>
      <input type="password" name="newPassword" formControlName="newPassword" class="form-control" id="newPassword"
        placeholder="New Password">
      <div *ngIf="submitted && resetForm.controls.newPassword.errors" class="error">
        <small class="form-text text-warning" *ngIf="resetForm.controls.newPassword.errors.required">
          Password is required!
        </small>
        <small class="form-text text-warning" *ngIf="resetForm.controls.newPassword.errors.minlength">
          Password has to have at least 8 characters!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="repeatPassword"></label>
      <input type="password" name="repeatPassword" formControlName="repeatPassword" class="form-control"
        id="repeatPassword" placeholder="Repeat Password">
      <div *ngIf="submitted && resetForm.controls.repeatPassword.errors" class="error">
        <small class="form-text text-warning" *ngIf="resetForm.controls.repeatPassword.errors.required">
          Repeat your password!
        </small>
        <small class="form-text text-warning" *ngIf="resetForm.controls.repeatPassword.errors.notSame">
          Passwords did not match!
        </small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer bg-dark text-white">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')" #closeBtn>Cancel</button>
  <button type="button" class="btn btn-success float-right" (click)="onSubmit()">Reset</button>
</div>
