$active-focused: 87%;
$active-unfocused: 54%;
$inactive: 38%;

.card-header {
  display: flex;
  justify-content: space-between;
}

table {
  text-align: center;
}

button {
  opacity: $active-unfocused;

  &.inactive {
    opacity: $inactive;
  }

  &:hover {
    opacity: $active-focused;
    transform: scale(1.35);
  }
}
