<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-light">
      <h5>Tables:</h5>
      <button *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="btn fas fa-plus" (click)="openAddTableForm()"></button>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover table-sm table-bordered">
        <thead>
        <th scope="col">Table Number</th>
        <th scope="col">Number of Seats</th>
        <th scope="col">Position Description</th>
        <th scope="col">Status</th>
        <th scope="col" *ngIf="authService.isLoggedIn() && authService.isAdmin()">Edit</th>
        <th scope="col" *ngIf="authService.isLoggedIn() && authService.isAdmin()">Delete</th>
        </thead>
        <tbody>
        <tr *ngFor="let table of tables; let i=index">
          <td class="{{!table.active ? 'inactive' : ''}}">{{table.tableNum}}</td>
          <td class="{{!table.active ? 'inactive' : ''}}">{{table.seatCount}}</td>
          <td class="{{!table.active ? 'inactive' : ''}}">{{table.posDescription}}</td>
          <td>
            <button *ngIf="table.active" class="btn fas fa-check" (click)="changeTableActive(table, false)"></button>
            <button *ngIf="!table.active" class="btn fas fa-minus inactive" (click)="changeTableActive(table, true)"></button>
          </td>
          <td *ngIf="authService.isLoggedIn() && authService.isAdmin()">
            <button class="btn btn-block fas fa-edit" (click)="openEditTableForm(table)"></button>
          </td>
          <td *ngIf="authService.isLoggedIn() && authService.isAdmin()">
            <button *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="btn fas fa-trash" (click)="deleteTable(table)"></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
