<div class="modal-header">
  <h5 class="modal-title">Delete dish</h5>
  <button type="button" class="close btn" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-dark text-white">
  <p>Do you want to delete dish {{dish.name}}?</p>
</div>
<div class="modal-footer bg-dark text-white">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="onSubmitDelete(dish)">Delete</button>
</div>
